In [52]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import json
import gmaps
import os

# Import API key
from api_keys import g_key

In [53]:
output_data_file = "../weather_df.csv"
# output_data_file

types_df = pd.read_csv(output_data_file)

weather_data_df = types_df.drop(columns=["Unnamed: 0"])
weather_data_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,rawson,54,AR,1583298184,86,-43.30,-65.10,64.47,14.25
1,rikitea,100,PF,1583298184,79,-23.12,-134.97,78.58,18.34
2,upernavik,100,GL,1583298185,49,72.79,-56.15,-15.74,2.17
3,rio gallegos,75,GR,1583298185,93,38.30,21.78,53.60,3.36
4,cidreira,90,BR,1583298185,74,-30.18,-50.21,72.54,8.50
...,...,...,...,...,...,...,...,...,...
560,nungua,84,GH,1583298315,89,5.60,-0.08,81.27,9.62
561,nanakuli,75,US,1583298316,86,21.39,-158.15,80.60,5.82
562,port hedland,94,CD,1583298316,65,-7.03,29.76,77.50,0.36
563,santa cruz cabralia,0,PH,1583298316,52,17.49,120.43,86.00,9.46
564,aldan,0,RU,1583298317,75,58.60,125.39,7.16,13.76

In [54]:
# Configure gmaps.
# Use the Lat and Lng as locations and Humidity as the weight.
# Add Heatmap layer to map.
gmaps.configure(api_key=g_key)

In [55]:
# locations
locations = weather_data_df[["Lat", "Lng"]]

humidity = weather_data_df["Humidity"].astype(float)

fig = gmaps.figure()

heatmap_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                   dissipating=False, max_intensity=5,
                                   point_radius=1)

fig.add_layer(heatmap_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [56]:
# Create new DataFrame fitting weather criteria

# Narrow down the cities to fit weather conditions.
# Drop any rows will null values.
# Narrow down the DataFrame to find your ideal weather condition. For example:
# A max temperature lower than 80 degrees but higher than 70.
# Wind speed less than 10 mph.
# Zero cloudiness.
# Drop any rows that don't contain all three conditions. 
# You want to be sure the weather is ideal

ideal_df = pd.DataFrame(weather_data_df, columns = ["City", "Max Temp", "Wind Speed", "Cloudiness"])

max_temp = (ideal_df["Max Temp"] <= 85) & (ideal_df["Max Temp"] > 70)
wind_speed = ideal_df["Wind Speed"] < 10
cloudiness = ideal_df["Cloudiness"] == 0

ideal_df[max_temp & wind_speed & cloudiness]

                       City  Max Temp  Wind Speed  Cloudiness
48                    sabya     77.00        4.29           0
64                    akyab     77.88        7.85           0
80               sao filipe     81.66        9.06           0
88       sao felix do xingu     81.66        9.06           0
96              san quintin     71.55        9.15           0
97                   nagaur     82.60        9.01           0
121           san cristobal     71.55        9.15           0
167            san patricio     71.55        9.15           0
190                   moron     78.01        5.82           0
260             saint-louis     72.18        8.93           0
271              chalisgaon     83.84        5.19           0
279  sao miguel do araguaia     81.66        9.06           0
332       sao joao da barra     81.66        9.06           0
368                  george     71.60        4.70           0
371                 salalah     75.20        7.63           0
372                mercedes     77.00        6.51           0
373                 biltine     76.33        8.57           0
385                 cordoba     72.00        5.82           0
398                 bubaque     79.99        9.55           0
414                   lujan     78.01        9.17           0
435               koungheul     71.98        4.32           0
460             maine-soroa     74.14        9.28           0
461           sao sebastiao     81.66        9.06           0
469            kruisfontein     79.81        5.97           0
473                   kayes     71.35        0.98           0
485                san juan     71.55        9.15           0
489                  dakoro     71.83        9.10           0
501               madhoganj     83.89        7.76           0
506              abu samrah     82.89        6.91           0
525            keetmanshoop     71.60        8.05           0
529                  mehkar     83.77        5.84           0
540            point fortin     73.00        1.12           0

In [57]:
# Store into variable named hotel_df.
# Add a "Hotel Name" column to the DataFrame.
# Set parameters to search for hotels with 5000 meters.
# Hit the Google Places API for each city's coordinates.
# Store the first Hotel result into the DataFrame.
# Plot markers on top of the heatmap.

hotel_df = pd.DataFrame(weather_data_df, columns=["City", "Country", "Lat", "Lng"])
hotel_df["Hotel Name"] = ""
hotel_df

                    City Country    Lat     Lng Hotel Name
0                 rawson      AR -43.30  -65.10
1                rikitea      PF -23.12 -134.97
2              upernavik      GL  72.79  -56.15
3           rio gallegos      GR  38.30   21.78
4               cidreira      BR -30.18  -50.21
..                   ...     ...    ...     ...        ...
560               nungua      GH   5.60   -0.08
561             nanakuli      US  21.39 -158.15
562         port hedland      CD  -7.03   29.76
563  santa cruz cabralia      PH  17.49  120.43
564                aldan      RU  58.60  125.39

[565 rows x 5 columns]

In [58]:
#geocoordinates
target_coordinates = f"{hotel_df['Lat'][0]},{hotel_df['Lng'][0]}"
target_search = "hotel"
target_radius = 5000
target_type = "hotel"

# set up a parameters dictionary
params = {
    "location": target_coordinates,
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": g_key
}

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# run a request using our params dictionary
response = requests.get(base_url, params=params)

In [59]:
# convert response to json
hotel_data = response.json()

# Print the json (pretty printed)
print(json.dumps(hotel_data, indent=4, sort_keys=True))

{
    "html_attributions": [],
    "results": [
        {
            "business_status": "OPERATIONAL",
            "geometry": {
                "location": {
                    "lat": -43.3200902,
                    "lng": -65.0489612
                },
                "viewport": {
                    "northeast": {
                        "lat": -43.31865817010728,
                        "lng": -65.04754427010727
                    },
                    "southwest": {
                        "lat": -43.32135782989273,
                        "lng": -65.05024392989272
                    }
                }
            },
            "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png",
            "id": "cd3798133d2f81d0fce6c79e0e6a8664b0bd48e9",
            "name": "Hotel Punta Le\u00f3n",
            "photos": [
                {
                    "height": 479,
                    "html_attributions": [
                        "<a href=\"https://maps.google.com/maps/contrib/117356992146825634397\">Hotel Punta Le\u00f3n</a>"
                    ],
                    "photo_reference": "CmRaAAAAcAg1ldwLYeux-SkzIwKIv6eGTuYWBDJbCHJyb4HsvFf8aH9C0isYM3tT_2NjRuWWKMj_JpODOIuM1NatxNnnFAUm8AI7FDT1AsvwJzgfF2uBeLQN0ufEKOQHxBW64IZ_EhAvqGBwFvRrG6qnfacxM3GcGhQuhzr4kHmghDSX_EKFghtITrYpDw",
                    "width": 720
                }
            ],
            "place_id": "ChIJMZej-nxWAb4RxlYXKduqraU",
            "plus_code": {
                "compound_code": "MXH2+XC Playa Uni\u00f3n, Chubut Province, Argentina",
                "global_code": "478PMXH2+XC"
            },
            "rating": 4,
            "reference": "ChIJMZej-nxWAb4RxlYXKduqraU",
            "scope": "GOOGLE",
            "types": [
                "lodging",
                "point_of_interest",
                "establishment"
            ],
            "user_ratings_total": 301,
            "vicinity": "Juan de la Piedra 210, Playa Union"
        },
        {
            "business_status": "OPERATIONAL",
            "geometry": {
                "location": {
                    "lat": -43.322365,
                    "lng": -65.0501401
                },
                "viewport": {
                    "northeast": {
                        "lat": -43.32099492010727,
                        "lng": -65.04884102010728
                    },
                    "southwest": {
                        "lat": -43.32369457989272,
                        "lng": -65.05154067989271
                    }
                }
            },
            "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png",
            "id": "93f4fb7efbde47fcf26641c3ef0d3f0afb4fbfa6",
            "name": "Complejo Bahia Ballenas",
            "photos": [
                {
                    "height": 3096,
                    "html_attributions": [
                        "<a href=\"https://maps.google.com/maps/contrib/111260253427651146796\">Joker22 TM</a>"
                    ],
                    "photo_reference": "CmRaAAAAWGb1gSEyu92WE8Uw0OgDOROARTbE-n4D56REOv7DvduiQqB0WK1eaHpy1vioQE-I3bvSKG_BKMhHAw77h6XFKE0pbe_1S-xgfpenaKnHoAVFtgQAbqYRaj5BZDWu3XdSEhDS_GNOaLuUjnAw1uLhnPYaGhRE47Sr9sb72fosUC6C0AHPlUk_7A",
                    "width": 4128
                }
            ],
            "place_id": "ChIJc_Za3n1WAb4RcVCnr9_3JUk",
            "plus_code": {
                "compound_code": "MWHX+3W Playa Uni\u00f3n, Chubut Province, Argentina",
                "global_code": "478PMWHX+3W"
            },
            "rating": 4.1,
            "reference": "ChIJc_Za3n1WAb4RcVCnr9_3JUk",
            "scope": "GOOGLE",
            "types": [
                "lodging",
                "point_of_interest",
                "establishment"
            ],
            "user_ratings_total": 144,
            "vicinity": "Laura Vicu\u00f1a y Coronel Boer, Rawson, 9103"
        },
        {
            "business_status": "OPERATIONAL",
            "geometry": {
                "location": {
                    "lat": -43.3337176,
                    "lng": -65.0530194
                },
                "viewport": {
                    "northeast": {
                        "lat": -43.33237422010727,
                        "lng": -65.05165357010728
                    },
                    "southwest": {
                        "lat": -43.33507387989272,
                        "lng": -65.05435322989271
                    }
                }
            },
            "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png",
            "id": "da30c7717dbd7cc845ac43c1cd0b8b24c4d4e5a6",
            "name": "Casa de mar",
            "photos": [
                {
                    "height": 1840,
                    "html_attributions": [
                        "<a href=\"https://maps.google.com/maps/contrib/103758930871541507467\">Juancho Talarga</a>"
                    ],
                    "photo_reference": "CmRaAAAAqVyAAoiKgHzxGc9Bi6dlrB8F4Mj7payTs86Cm6Wdrqc9er3D6fpOr1UVYgy8b2oe7T6LjwKbkHW1z2bc5fRBOmI16j0v_QymFjJj5ySlCJJXyR2v41CqR6ON-w1MisUgEhAemCcmJQVOMbOV0JfqLf96GhS7evAkemFXo9iD0pclu75QGMAcDg",
                    "width": 3264
                }
            ],
            "place_id": "ChIJh_dzIS9UAb4R4DMUeg2LAsE",
            "plus_code": {
                "compound_code": "MW8W+GQ Playa Uni\u00f3n, Chubut Province, Argentina",
                "global_code": "478PMW8W+GQ"
            },
            "rating": 4.1,
            "reference": "ChIJh_dzIS9UAb4R4DMUeg2LAsE",
            "scope": "GOOGLE",
            "types": [
                "lodging",
                "point_of_interest",
                "establishment"
            ],
            "user_ratings_total": 75,
            "vicinity": "Av. Guillermo Rawson 1975-2077, Playa Union"
        },
        {
            "business_status": "OPERATIONAL",
            "geometry": {
                "location": {
                    "lat": -43.301509,
                    "lng": -65.104922
                },
                "viewport": {
                    "northeast": {
                        "lat": -43.30012877010726,
                        "lng": -65.10361327010727
                    },
                    "southwest": {
                        "lat": -43.30282842989271,
                        "lng": -65.10631292989272
                    }
                }
            },
            "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png",
            "id": "3930cdb7a6346a7bc98c319f53621ab1b51a5210",
            "name": "Hosteria Sampedro",
            "photos": [
                {
                    "height": 2592,
                    "html_attributions": [
                        "<a href=\"https://maps.google.com/maps/contrib/114437627963670974996\">Gabriel De Napoli</a>"
                    ],
                    "photo_reference": "CmRaAAAAv25LKxmK1EKCDu3LHm8n-W5gYjJU9kCvsv0ZEPrdvw95NY1OfujsWaVwMa9bGqaSM5iwO_6gU_b3QHGRLBDBjJop2rL0gOvj5HZ6DBZxL54fd6JsAzqmbeslw4do8HR-EhC4A7P2u5I0QQiNUoMQcNEqGhS6Q7jqKhszWBkCcbluxOzw6-HZiA",
                    "width": 4608
                }
            ],
            "place_id": "ChIJxx0KhyBXAb4Ro5j939cetyU",
            "plus_code": {
                "compound_code": "MVXW+92 Rawson, Chubut Province, Argentina",
                "global_code": "478PMVXW+92"
            },
            "rating": 4.1,
            "reference": "ChIJxx0KhyBXAb4Ro5j939cetyU",
            "scope": "GOOGLE",
            "types": [
                "lodging",
                "point_of_interest",
                "establishment"
            ],
            "user_ratings_total": 129,
            "vicinity": "Belgrano 744, Rawson"
        }
    ],
    "status": "OK"
}

In [ ]:
#creates a list to capture hotel_names to insert into dataframe
hotel_names = []

# params dictionary to update each iteration
params = {
    "radius": 5000,
    "types": "hotel",
    "keyword": "hotel",
    "key": g_key
}

# taken from Airpost_Ratings Example done in class
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]

    # change location for each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=params)
    
    # convert to json
    name_address = name_address.json()
    
    try:
        hotel_names.append(name_address['results'][0]['name'])
        
    except IndexError:
        hotel_names.append(np.nan)

In [ ]:
hotel_names

In [ ]:
hotel_df['Hotel Name']= hotel_names
hotel_df.dropna()
hotel_df.to_csv('hotel_export.csv')

In [ ]:
 # NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)
fig

# Display Map